<style>
body{
background-color: #cccccc
}
h1{
color: red;
}
h2{
  color: yellow;
}
h3{
  color: red;
}
p{
color: green;
}

#header
{
background-color: blue;
color: yellow;
}
#section
{
  width: 1050px;
}
#aside
{
  background-color: blue;
  color: yellow;
}
#footer
{
  background-color: white;
  color: black;
}
</style>
